*,
html,
body {
  padding: 0rem;
  margin: 0rem;
  color: black;
  text-decoration: none;
  font-family: Tahoma, Verdana, sans-serif;
}

html {
    font-size: 15px;
  }

body {
    display: flex;
    background-color: white;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
/* NAVBAR */
nav {
    display: flex;
    width: 100%;
    flex-basis: 10%;
    background-color: white;
    box-sizing: border-box;
    padding : 0rem 3rem;
    justify-content: left;
    align-items: center;
}

.siteName {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
}
/* MAIN CONTENT */
section {
    display: flex;
    flex-basis: 80%;
    width: 100%;
    box-sizing: border-box;
    padding: 5rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.smashMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    height:fit-content ;
    width: fit-content;
    font-size: 200%;
}

/* FOOTER */
footer {
    display: flex;
    flex-basis: 10%;
    width: 100%;
    background-color: whitesmoke;
}